src/main/mule/health-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
		xmlns:http="http://www.mulesoft.org/schema/mule/http"
		xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
		xmlns="http://www.mulesoft.org/schema/mule/core"
		xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<flow name="health-checkFlow" doc:id="de4fbb9a-e861-4538-9dce-8510d817180d" >
		<http:listener doc:name="Listener" doc:id="31be14d7-4c07-41bc-a2f3-f411aa8e6ad7" config-ref="development-template-httpListenerConfig" path="/ping"/>
		<ee:transform doc:name="Create Health Check Response" doc:id="ba90a669-283e-4ea4-b190-4692de6fbd89">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json encoding="UTF-8"
---
{
	"status": "ok",
	"timestamp": 	now(),
	"apiname": 		"application.name",
	"apiversion": 	"application.version"
}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload.status]" doc:name="Set Payload" doc:id="5a346c6e-5225-469c-95d5-1cad37d9b94a" />
	</flow>

</mule>
